In [1]:
import pandas as pd
#Import logit from statsmodels
from statsmodels.formula.api import logit

In [2]:
#Load the data
df_modeling = pd.read_csv('./car_insurance_cleaned.csv')

In [3]:
df_modeling.head()

,id,age,gender,driving_exp_clean,education,income,credit_score,vehicle_ownership,vehicle_year,married,children,annual_mileage,vehicle_type,speeding_violations,duis,past_accidents,outcome
0,569520,3,0,0-9,high school,upper class,0.629027,1.0,after 2015,0.0,1,12000.0,sedan,0,0,0,0.0
1,750365,0,1,0-9,none,poverty,0.357757,0.0,before 2015,0.0,0,16000.0,sedan,0,0,0,1.0
2,199901,0,0,0-9,high school,working class,0.493146,1.0,before 2015,0.0,0,11000.0,sedan,0,0,0,0.0
3,478866,0,1,0-9,university,working class,0.206013,1.0,before 2015,0.0,1,11000.0,sedan,0,0,0,0.0
4,731664,1,1,10-19,none,working class,0.388366,1.0,before 2015,0.0,0,12000.0,sedan,2,0,1,1.0

In [4]:
df_modeling.drop(['gender', 'age', 'married', 'education', 'children'], axis=1, inplace=True)

In [5]:
df_modeling.head()

,id,driving_exp_clean,income,credit_score,vehicle_ownership,vehicle_year,annual_mileage,vehicle_type,speeding_violations,duis,past_accidents,outcome
0,569520,0-9,upper class,0.629027,1.0,after 2015,12000.0,sedan,0,0,0,0.0
1,750365,0-9,poverty,0.357757,0.0,before 2015,16000.0,sedan,0,0,0,1.0
2,199901,0-9,working class,0.493146,1.0,before 2015,11000.0,sedan,0,0,0,0.0
3,478866,0-9,working class,0.206013,1.0,before 2015,11000.0,sedan,0,0,0,0.0
4,731664,10-19,working class,0.388366,1.0,before 2015,12000.0,sedan,2,0,1,1.0

In [13]:
# Empty list to store model results
models = []

# Feature columns
features = df_modeling.drop(columns=["id", "outcome"]).columns

# Loop through features
for col in features:
    # Create a model
    model = logit(f"outcome ~ {col}", data=df_modeling).fit()
    # Add each model to the models list
    models.append(model)

# Empty list to store accuracies
accuracies = []

# Loop through models
for feature in range(0, len(models)):
    # Compute the confusion matrix
    conf_matrix = models[feature].pred_table()
    # True negatives
    tn = conf_matrix[0,0]
    # True positives
    tp = conf_matrix[1,1]
    # False negatives
    fn = conf_matrix[1,0]
    # False positives
    fp = conf_matrix[0,1]
    # Compute accuracy
    acc = (tn + tp) / (tn + fn + fp + tp)
    accuracies.append(acc)

Optimization terminated successfully.
         Current function value: 0.463446
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.527404
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.569186
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.548722
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.569556
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.604064
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.617328
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.555189
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.593845
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.546072
         Iterations 7

In [17]:
#print accuracies matched with their columns
for i in range(0, len(features)):
    print(f"{features[i]}: {accuracies[i]}")

driving_exp_clean: 0.7785130803432944
income: 0.746355082204529
credit_score: 0.7084065763623203
vehicle_ownership: 0.7363250956467791
vehicle_year: 0.692172474408024
annual_mileage: 0.692172474408024
vehicle_type: 0.692172474408024
speeding_violations: 0.692172474408024
duis: 0.692172474408024
past_accidents: 0.692172474408024

In [18]:
# Find the feature with the largest accuracy
max_acc = max(accuracies)
max_acc_index = accuracies.index(max_acc)
max_acc_feature = features[max_acc_index]
print(f"Max accuracy: {max_acc} with feature: {max_acc_feature}")

Max accuracy: 0.7785130803432944 with feature: driving_exp_clean

In [19]:
#sample 1000 rows from df_modeling and export to csv as modeling_sample.csv
df_modeling.sample(1000).to_csv('modeling_sample.csv', index=False)